<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SkinDiseaseScanner" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<SkinDiseaseScanner>
		<add key="labels" value="acne,eksim,herpes,panu,rosacea"/>
		<add key="relPathToModel" value="ML\\DiseaseScanner\\Skin\\disease_scanner.onnx"/>
		<add key="input" value="keras_tensor_179"/>
    </SkinDiseaseScanner>
</configuration>